body{
    background-color: rgb(255, 213, 0);
    font-family: 'Lato', sans-serif;
}


/* HEADER */
/* header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    height: 65px;
    background-color: rgb(239, 199, 0);
}

header>a{
    width: 10%;
}

header>a>img{
    width: 130%;
    transition-duration: 0.2s;
}

header>a>img:hover{
    width: 140%;
}

.linkHeader{
    text-decoration: none;
    color: white;
    text-shadow: 2px 2px rgb(165, 138, 0);
    width: 100%;
    padding: 23px 25px;
    transition-duration: 0.4s;
}

.linkHeader:hover{
    background-color: rgb(205, 171, 0);
} */

/* BODY */
/* INTRODUCTION SECTION */
#welcomeSection{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    text-shadow: 2px 2px rgb(165, 138, 0);
    padding: 50px
}

#welcomeSection>figure{
    width: 50%;
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}

#welcomeSection>figure>img{
    width: 60%;
}

#welcomeSection>section{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* SECTION FORMS */

#selectSection{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#selectSection select{
    width: 12%;
    height: 30px;
    border-radius: 2px;
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-down" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/></svg>') no-repeat right #fff;
    -webkit-appearance: none;
    padding: 0.2rem;
    background-position: right 0.1rem center;
}

#selectSection select:focus{
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-up" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M7.646 4.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 5.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z"/></svg>') no-repeat right #fff;
    background-position: right 0.1rem center;
}

#selectSection select option:hover{
    background-color: 
}